page-finish-app {
    .toolbar-background {
        background: url(../assets/img/background.png);
        background-size: cover;
      }
    .review-heading {
        text-align: center;
        ion-content{
        background: url(../assets/img/background.png);
        background-size: cover;
        }
        font-size: 1.8rem;
        font-weight: 200;
    }
    .service-heading {
        font-size: 1.6rem;
        color: #ffff;
    }
    .item-divider-ios, .item-divider-md {
        background-color: #cdcbcb !important;
        color: #242424;
    }
    .item-ios, .item-md {
        background: none;
    }
    .checkbox-md .checkbox-icon {
        border-radius: 50%;
    }
    .note {
        color: #ffff;
        font-size: 1.6rem;
    }
    .approx-time {
        font-size: 1.1rem;
        color: #cdcbcb;
    }
    .item-border {
        border-left: 1px solid;
        position: absolute;
        left: 28px;
    }
    .checkbox-ios .checkbox-icon {
        border-color: #fff;
        background-color: #282b1d;
    }
    .checkbox-ios .checkbox-checked {
        border-color: #ffffff !important;
        background-color: #2a2f1d !important;
    }
    .toolbar-title-ios {
        font-size: 1.5rem;
        font-weight: 200;
    }
    .service-footer {
        padding: 2px;
        background-color: #8b8b8b;
    }
    .service-footer ion-label {
        text-align: right;
    }
    .btnAccept{   
        width: 100%;
        height: 30px;
        background-color:  #32db64;
        font-size: 1.2rem !important;
    }
    .btnReschedule{
        width: 100%;
        height: 30px;
        background-color: #484040;
        border: 1px solid;
        font-size: 1.2rem !important;
    }

    .item.item-block.item-md, .item.item-block.item-ios {
        border-bottom: none; 
        padding-bottom: 0pt;
        margin-top: 5pt;
    }


    .modalDialog {
        position: fixed;
        font-family: Arial, Helvetica, sans-serif;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        background: rgba(0, 0, 0, 0.8);
        z-index: 99999;
        opacity:0;
        -webkit-transition: opacity 400ms ease-in;
        -moz-transition: opacity 400ms ease-in;
        transition: opacity 400ms ease-in;
        pointer-events: none;
    }
    .modalDialog:target {
        opacity:1;
        pointer-events: auto;
    }
    .modalDialog > div {
        width: 400px;
        position: relative;
        margin: 10% auto;
        padding: 5px 20px 13px 20px;
        border-radius: 10px;
        background: #fff;
        background: -moz-linear-gradient(#fff, #999);
        background: -webkit-linear-gradient(#fff, #999);
        background: -o-linear-gradient(#fff, #999);
    }
    .close {
        background: #606061;
        color: #FFFFFF;
        line-height: 25px;
        position: absolute;
        right: -12px;
        text-align: center;
        top: -10px;
        width: 24px;
        text-decoration: none;
        font-weight: bold;
        -webkit-border-radius: 12px;
        -moz-border-radius: 12px;
        border-radius: 12px;
        -moz-box-shadow: 1px 1px 3px #000;
        -webkit-box-shadow: 1px 1px 3px #000;
        box-shadow: 1px 1px 3px #000;
    }
    .close:hover {
        background: #00d9ff;
    }

    ion-list.app-list {
        margin: 0px 0 -10px 0 !important;
        background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background-position: 27px;
        padding: 0px 0px 10px;
        background-repeat: repeat-y;
        background-size: 1px;
    }


    .overlay {
        position: fixed;
        top: 0;
        width: 100%;
        height: 100%;
        z-index: 200;
        opacity: .8;
        background-color: #000;
      }
      .modal_content {
        position: fixed;
        top: 130px;
        left: 0;
        right: 0;
        width: 80%;
        height: 50%;
        padding: 10px;
        z-index: 300;
        margin: 0 auto;
        padding: 10px;
        color: #333;
        background: transparent;
        border-radius: 5px;
        box-shadow: 0 2px 3px rgba(51, 51, 51, .35);
        box-sizing: border-box;
        -moz-box-sizing: border-box;
        -webkit-box-sizing: border-box;
        overflow: hidden;
      }

}
