<ion-header>

  <ion-navbar class="navBar">
    <ion-title class="headerTitle">Environment Info </ion-title>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-label text-wrap class="headerTitle" *ngIf="selectedEnviroment && selectedEnviroment === 1" >
    You are connected to live environment
  </ion-label>
  <ion-label text-wrap class="headerTitle" *ngIf="selectedEnviroment && selectedEnviroment === 2">
    You are connected to Dev environment
  </ion-label>
  <ion-row no-padding no-margin no-lines
    [ngClass]="true ? 'slide-in  serviceCellSelected' : 'slide-out  serviceCellUnselected' "
    (click)="switchEnviroment(1)">
    <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1>
      <ion-checkbox item-start class="CheckBox" [checked]="selectedEnviroment && selectedEnviroment === 1"
        (click)="switchEnviroment(1)">
      </ion-checkbox>
      <!-- <ion-checkbox class="checkBox" [checked]="true" item-start ></ion-checkbox> -->
    </ion-col>

    <ion-col class="serviceNameCol" col-10>
      <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>
        Live Environment </ion-label>

    </ion-col>

  </ion-row>
  <ion-row no-padding no-margin no-lines
    [ngClass]="true ? 'slide-in  serviceCellSelected' : 'slide-out  serviceCellUnselected' "
    (click)="switchEnviroment(2)">
    <ion-col no-padding no-margin no-lines class="checkBoxCol" col-1>
      <ion-checkbox item-start class="CheckBox" [checked]="selectedEnviroment && selectedEnviroment === 2"
        (click)="switchEnviroment(2)">
      </ion-checkbox>
    </ion-col>

    <ion-col class="serviceNameCol" col-10>
      <ion-label class="serviceName" no-padding no-margin no-lines text-capitalize text-wrap text-capitalize>
        Dev Envirment </ion-label>

    </ion-col>

  </ion-row>
  <button ion-button full color="salon" class="clsbtnNext" style="padding-bottom:0%;" (click)="btnDismissTappe()">Dismiss</button>
</ion-content>