

<ion-header class="login-header">

  <ion-navbar class="navBar">
    <!-- <ion-title class="headerTitle">BeautyApp</ion-title> -->
    <ion-label class="headerTitle">BeautyApp</ion-label>
  </ion-navbar>

</ion-header>
<ion-content padding>
  <ion-list class="login-form">
      <p class="loginMessage">Please Provide Email and Password <br>to Login</p>
      <br/>
    <form #s="ngForm" (ngSubmit)="loginUser(s)">
      <ion-item class="input">
        <ion-input class="txtEmail" type="email" placeholder="Email" [(ngModel)]="email" name="email" value="" ></ion-input>
      </ion-item>
      <ion-item class="input">
        <ion-input class="txtEmail" type="password" placeholder="Password" [(ngModel)]="password" name="password" value=""></ion-input>
      </ion-item>
      <button class="btnLogin" ion-button color="salon" type="submit" block>Login</button>
    </form>
  </ion-list>
</ion-content>