page-add-new-customer {
    .navBar {
        background-color: rgba(255, 255, 255, 0.10)
    }
    ion-title.headerTitle div {
        color: white;
        font-size: 4.23vw !important;
        text-align: center;
        line-height: 20px !important;
        letter-spacing: 0.3px;
        font-family: $Montserrat-Regular !important;
    }
    .firstLabel {
        color: white;
        font-size: 4.23vw;
        font-weight: 400;
    }
    .lblPhoneNumber {
        color: white;
        font-size: 3.7vw;
        padding-top: 20px;
    }
    .lblCustName {
        color: white;
        font-size: 3.7vw;
        padding-top: 10px;
    }
    .lblPostCode {
        color: white;
        font-size: 3.7vw;
        padding-top: 10px;
    } // ion-input.txtcustPhoneNumber input {
    .txtcustPhoneNumber {
        background-color: white !important;
        border-radius: 5pt;
        // height: 28pt;
        vertical-align: top; //  style="background-color:white; color:black; height:20pt; border-radius:5pt"
        padding-left: 5pt;
    }
    .txtcustPhoneNumber input {
        color: rgb(154, 164, 160);
        font-size: 4.12vw !important;
        font-family: $montserrat-light;
    }
    .btnNext {
        width: 100%;
        height: 30pt;
        align-content: center;
        background-color: rgb(230, 37, 88);//color($colors, phoneAdminPinkColor, base);
        margin-top: 29px;
        font-size: 5.55vw;
        line-height: 23.4px;
        letter-spacing: 0.3px;
        font-family: $Montserrat-Medium;
    }
    .button {
        text-transform: none;
    }
}