
<ion-header>
  
    <ion-navbar class="navBar">
        <ion-title class="headerTitle">Add Appointment</ion-title>
      </ion-navbar>
    
    </ion-header>
    
    
    <ion-content padding >
      
        <p  class="firstLabel"  >Add Appointment with New Customer</p>
        
        <p  class="lblPhoneNumber"  >Customer Phone Number</p> 
        <ion-input readonly ='true'  [(ngModel)]="txtCustPhoneNumber" class="txtcustPhoneNumber" type="text" maxlength="11" placeholder="Enter Phone Number" ></ion-input>
        
        <p  class="lblCustName"  >Enter Customer Name</p> 
        <ion-input   [(ngModel)]="txtCustName" class="txtcustPhoneNumber" type="text" max="3" placeholder="Enter Customer Name" ></ion-input>
        
        <p  class="lblCustName"  >Enter Customer Email</p> 
        <ion-input   [(ngModel)]="txtCustEmail" class="txtcustPhoneNumber" type="email" max="3" placeholder="Enter Customer Email" ></ion-input>

        <!-- <p  class="lblPostCode"  >Enter Post Code</p> 
        <ion-input (keyup)="OnValueEnter($event.target.value)"  [(ngModel)]="txtCustPostCode" class="txtcustPhoneNumber" type="text" maxlength="11" placeholder="Enter Post Code" ></ion-input> -->
  
        <button ion-button  class="btnNext" (click)="btnNextTapped()" >Next</button>
    </ion-content>
    