.md,
.ios {
    page-dashboard {
        div.app-list {
            margin: 0px 0 -10px 0px !important;
            background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background-position: 16px;
            background-repeat: repeat-y;
            background-size: 2px;
        }
    }
}

// .ios {
//     page-dashboard {
//         div.app-list {
//             margin: 0px 0px -10px 0px !important;
//             background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
//             background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
//             background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
//             background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
//             background-position: 16px;
//             background-repeat: repeat-y;
//             background-size: 2px;
//         }
//     }
// }
page-dashboard {
    .tech-col {
        margin-left: 15%;
    }
    .tech-hide {
        display: none;
        // transform-style: preserve-3d;
        -webkit-backface-visibility: hidden;
        backface-visibility: hidden !important;
    }
    h2 {
        color: white !important;
        background-color: transparent !important;
        font-size: 8vw !important;
        font-family: $Montserrat-Bold; // margin-left: 12px;
        padding-left: 12px;
        margin-top: 0px !important;
    }
    .tech_pic_slides {
        height: 30.3vw;
        backface-visibility: hidden !important;
    }
    .calender-img img {
        width: 40px;
        height: 40px;
    }
    .slide {
        padding: 5px 5px 5px 5px;
        text-align: center;
    }
    button.slide {
        background: none;
        color: white;
        margin-left: 10px;
    }
    .slide img {
        border-radius: 50%;
        width: 60px;
        height: 60px;
        transition: transform 0.4s;
    }
    .slide img.inActive {
        margin-top: 18px;
        width: 10.5vw;
        height: 10.5vw;
        -webkit-transform: translateZ(0);
    }
    .slide img.active {
        margin-top: 5px !important;
        width: 18.5vw;
        height: 18.5vw;
        border: 2px solid #ffffff;
        -webkit-transform: translateZ(0);
    }
    .top-header {
        opacity: 1;
        display: block;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .navbackground {
        background-color: rgba(144, 144, 129, 0.18);
    }
    .titlefadeout {
        opacity: 0;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .titlefadein {
        opacity: 1;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .techName {
        // background:green;
        margin-top: 3pt !important;
    }
    .contentFadeout {
        display: none;
        opacity: 0;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .slide .imgactive {
        border-radius: 50%;
        width: 60px;
        height: 60px;
    }
    .slide p {
        line-height: 0px;
        font-size: 1.4rem;
    }
    .slide ion-label {
        font-size: 3.2vw;
    }
    .day {
        width: 100%;
        background-color: rgba(144, 144, 129, 0.18)
    }
    h3.today {
        font-size: 2.1rem;
        padding: 5px 15px;
        margin-top: 0px;
    }
    .card-ios {
        margin: 0px;
        width: 100%; // border-left: 1px solid #3d3d3d;
        padding: 0px 12px;
        float: right;
    }
    .card-ios p,
    .item-ios p {
        color: white;
    }
    ion-item {
        background: none !important;
    }
    .item-block:first-child {
        border: none !important;
    }
    .ion-label,
    .label-md,
    .label-ios {
        margin-right: 5px !important;
    }
    .label-ios {
        margin: 0px 8px 6px 0;
    }
    ion-card {
        background: none !important;
        border-bottom: 1px solid rgba(109, 108, 107, 0.37); // border-bottom: 0.1rem solid rgba(255, 255, 255, 0.45);
        // border-left: 0.1rem solid rgba(255, 255, 255, 0.45);
    }
    .card-header-ios {
        padding: 0px;
    }
    .app-card {
        border-left: 1px solid rgba(109, 108, 107, 0.37);
    }
    ion-badge {
        font-size: 3.2vw;
        font-weight: 100; // padding: 2px 5px;
        padding: 6px 10px;
        border-radius: 2px !important;
    }
    .page-heading {
        padding: 0px 15px;
        font-size: 34px;
        margin-top: 0.8rem !important;
    }
    .toggle-light {
        width: 300px !important;
    }
    .badge-ios {
        border-radius: 2px !important;
    }
    p.empty-appt {
        text-align: center;
        font-size: 3.7vw;
    }
    .fab ion-icon {
        font-size: 3.4rem;
    }
    .custPic {
        float: left;
    }
    .cal-cust-img img {
        margin-top: 4px !important;
        margin-left: 10px;
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    .custName {
        margin-top: 5px !important;
        margin-left: 55px; // background: blue;
    }
    p.appoDuration {
        line-height: 5px;
        margin-left: 55px;
    }
    .calendar-event {
        left: 0px !important;
        width: 100% !important;
        background-color: rgba(144, 144, 129, 0.18);
        border-bottom: 2px solid #ffff; // height: 50% !important;
        // overflow: auto;
    }
    .item-ios {
        padding-left: 5px;
    }
    .item-ios p {
        margin: 0 2px 10px;
    }
    .card-border {
        position: absolute; // height: 40%;
        left: 15px;
        border: 1px solid rgba(109, 108, 107, 0.37);
    }
    .app-sep {
        width: 100%;
        border-bottom: 1px solid rgba(109, 108, 107, 0.37);
    }
    .PhoneContainer {
        // line-height: 40px; // 
        // background: deeppink !important;
        margin-left: 20px;
        min-height: 6.73vw !important; // .phone-btn {
        //     background: none;
        //     width: 25pt;
        //     padding: 5px;
        //     color: #ffff;
        //     margin-top: -5px;
        //     height: 25pt;
        //     border: 1px solid;
        //     border-radius: 50%; // color: green;
        // }
        img.imgTechInCardNotification {
            width: 6.73vw !important;
            height: 6.73vw !important;
            border-radius: 50%;
            float: left;
            margin-top: 0px; // margin-left: 10px !important;;
            // position: absolute;
            // top: 9px;
            // left: 9px;
        }
        a div {
            font-size: 3.7vw; // margin-top: 10px !important;
            // background: green;
            // height: 100% !important;
            position: relative;
            margin-left: 7.73vw !important; ;
            // bottom: 0;
            padding-top: 1%;
           
        }
    }
    .cal-phone-icn {
        font-size: 3.1rem;
        background: green !important;
    }
    .phone-icn {
        // font-size: 2.3rem;
        width: 8vw;
        height: 8vw;
    }
    .toggle-icn {
        position: absolute;
        top: 50%;
        left: 50%; // height: 50%;
        margin-right: 2px;
        transform: translate(-50%, -50%);
        width: 2.64vw;
        height: 3.96vw;
        display: block;
        color: #b62759;
    }
    .slide-up {
        max-height: 0;
        transition: max-height 0.25s ease-out;
        -webkit-transition: max-height 0.25s ease-out;
        overflow: hidden;
    }
    .slide-down {
        max-height: 500px;
        transition: max-height 0.35s ease-in;
        -webkit-transition: max-height 0.35s ease-in;
    }
    .collapse {
        position: relative;
        float: left;
        left: 8px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
    }
    .collapse.up {
        top: 55px;
        transition: all 600ms ease-out;
    }
    .collapse.down {
        top: 115px;
        transition: all 600ms ease-in;
    }
    .app-list .appointmentCard {
        margin-top: 0px;
        margin-left: 20px; // 
        // background: purple;
        .leftContainer {
            // background: #32db64;
            // .custPic img {
            //     margin-top: -10px;
            //     width: 50px;
            //     height: 50px;
            // }
            .custPic img {
                margin-top: -10px;
                width: 13.2vw;
                height: 13.2vw;
            }
        }
        .lblAppoDuration {
            // background: deepskyblue;
            // width: 50px !important;
            // height: 100% !important;
            float: right;
            margin-top: 3px;
            .time {
                font-size: 3.3vw;
                text-align: center !important;
                padding-right: 0px !important; // color: purple;
                position: relative;
                top: 5px !important; // margin-top: 3vw;;
                // line-height: 3.7vw;;
                // background: #32db64;
            }
            .pinImage {
                // background: green;
                margin-top: 0px !important;
                width: 50px;
                height: 50px;
                border-radius: 50% !important;
                margin-right: 0px !important;
                z-index: 100000;
                float: right !important;
            }
        } // .lblAppoServices {
        //     margin-top: 1.64vh;
        //     text-align: left !important;
        // }
    }
    .lblAppoServices {
        // margin-top: 1.64vh;
        text-align: left !important;
        margin-left: 20px;
        font-size: 3.92vw;
    }
    ion-icon.toggle-icn.icon.icon-md.ion-md-add.item-icon,
    ion-icon.toggle-icn.icon.icon-md.ion-md-remove.item-icon {
        margin-left: 4px;
    }
    .ios-border {
        // border-left: 1px solid rgba(109, 108, 107, 0.37);
        position: absolute;
        left: 15px;
    }
    .android-border {
        // border-left: 1px solid rgba(109, 108, 107, 0.37);
        position: absolute;
        left: 26px;
    }
    .finish-app {
        width: 100%;
        text-align: center;
    }
    .app-btns {
        margin: 3.5% auto;
        width: 94%; // background: deeppink;
    }
    .btnAccept {
        padding: 0px 22px;
        width: 100%;
        height: 7.93vw;
        color: #ffff;
        background-color: #32db64;
        font-size: 3.43vw;
        font-family: $Montserrat-Medium;
    }
    .btnReject {
        height: 7.93vw;
        width: 100%;
        color: #ffff;
        background-color: #e93b3b;
        font-size: 3.43vw;
        font-family: $Montserrat-Medium;
    }
    .btnReschedule {
        height: 7.93vw;
        width: 100%;
        padding: 0px 10px;
        border: 1px solid rgba(193, 193, 193, 0.34);
        color: #ffff;
        background-color: #484040;
        font-size: 3.43vw;
        font-family: $Montserrat-Medium;
    }
    .btnFinish {
        width: 50%;
        margin: 0 auto !important;
        height: 7.93vw;
        color: #ffff;
        background-color: #484040 !important;
        font-size: 3.43vw;
        font-family: $Montserrat-Medium;
        position: relative;
        // left: 25%;
        // transform: translateY(-25%);
    }
    p.prev-app,
    .item-md p.prev-app {
        font-size: 1.7rem;
        border-bottom: 1px solid;
        width: 156px;
        font-size: 4vw;
    }
    p.prev-app-desc {
        font-size: 1.2rem;
        width: 100%;
    }
    .prev-app-desc img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        float: left;
    }
    .prev-app-desc span {
        position: relative;
        top: 10px;
        left: 8px;
        font-size: 1.4rem;
    }
    span.prev-app-date {
        position: relative;
        float: right;
        font-size: 1.2rem;
        top: 10px;
    }
    .card-md h3,
    .card-md h4,
    .card-md h5,
    .card-md h6 {
        color: #ffff;
    }
    .item-md p {
        color: #ffff;
        margin: 0px 2px 6px;
    }
    .item-md p.prev-app {
        font-size: 1.7rem;
        border-bottom: 1px solid;
        margin-top: 15px;
    }
    .item-md ion-avatar {
        min-height: 35px;
    }
    .item.item-block.item-md,
    .item.item-block.item-ios {
        margin-top: 5px;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }
    .item-ios ion-avatar[item-left],
    .item-ios ion-thumbnail[item-left],
    .item-ios ion-avatar[item-start],
    .item-ios ion-thumbnail[item-start] {
        margin: 7px 5px 8px 0;
    }
    .cal-cust-name h3 {
        font-size: 4.23vw;
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        width: 143px !important;
    }
    .cust-name h3 {
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis; // background: green;
        font-size: 4.5vw;
        font-family: $Montserrat-SemiBold;
    }
    .cust-name p {
        position: relative;
    }
    .btnFinish {
        width: 50%;
        margin: 0 auto !important;
        height: 7.93vw;
        border: 1px solid rgba(193, 193, 193, 0.34);
        background-color: #484040 !important;
        font-size: 3.43vw;
        font-family: $Montserrat-Medium;
    }
    .list-ios {
        margin: 5px 0 5px;
    } // div.app-list {
    //     margin: 0px 0 -10px 0 !important;
    //     background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //     background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //     background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //     background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //     background-position: 16px;
    //     background-repeat: repeat-y;
    //     background-size: 2px;
    // }
    .list-ios .item-block .item-inner {
        border-bottom: none;
    }
    ion-item.item.item-block.item-ios {
        border-bottom: 2px solid rgba(109, 108, 107, 0.37) !important;
    }
    ion-badge ion-icon {
        // font-size: 1rem;
        font-size: 3.2vw;
    }
    .listViewAppoContainer {
        // background: darkred;   
        // .leftContainer{
        // }
        .rightContainer {
            // background: darkorange;
            height: 100%;
        }
        .cal-phone-btn {
            background: none !important;
        }
        .pinImageCalView {
            // background: green;
            // margin-top: 0px !important;
            width: 40px;
            height: 40px;
            border-radius: 50% !important;
            margin-right: 30px !important;
            margin-top: -5px;
            z-index: 200000;
            float: right !important;
        }
    }
}