<div *ngIf="prevAppointments.length > 0" style="margin-left:15px;">
  <!-- <div showWhen="android" class="android-border" [style.height]="prevAppointments.length * 191 + 'px'">
  </div>
  <div showWhen="ios" class="ios-border" [style.height]="prevAppointments.length * 191 + 'px'">
  </div> -->
  <p class="prev-app">Previous Appointment</p>
  <ion-row *ngFor="let prevapp of prevAppointments;">
    <ion-col col-4>
      <p class="prev-app-desc">
        <img *ngIf="prevapp.tech_pic" src="{{ techimgUrl }}{{ prevapp?.tech_pic }}">
        <img *ngIf="!prevapp.tech_pic" src="assets/img/user.png">
        <span>With "{{ prevapp?.tech_name }}"</span>
      </p>
    </ion-col>
    <ion-col col-8>
      <span class="prev-app-date">{{ prevapp?.app_start_time}}</span>
    </ion-col>
  </ion-row>
</div>