page-add-appointment {
    .login-header {
        min-height: 15vw;
        .navBar {
            background-color: rgba(255, 255, 255, 0.10);
            height: 100%;
        }
        .headerTitle {
            height: 100%;
            position: relative;
            text-align: center;
            color: white;
            font-size: 4.23vw !important;
            text-align: center;
            font-family: $Montserrat-Regular !important;
        }
    }
    .navBar {
        background-color: rgba(255, 255, 255, 0.10)
    }
    ion-title.headerTitle div {
        color: white;
        font-size: 4.23vw !important;
        text-align: center;
        line-height: 20px !important;
        letter-spacing: 0.3px;
        font-family: $Montserrat-Regular !important;
    }
    .lblAssignTo {
        text-align: center !important;
        margin-top: 10vw;
        margin-bottom: 7.2vw;
        background: transparent !important;
        line-height: 6.6vw;
        letter-spacing: 1.8px;
        font-size: 4.6vw;
        font-family: $montserrat-light !important;
        width: 100% !important;
    }
    .techCellNormal img {
        border-radius: 50%;
        width: 50px;
        height: 50px;
        text-align: center;
    }
    .techCellBig {

        img {
            border-radius: 50%;
            width: 18.4vw;
            height: 18.4vw;
            text-align: center;
            border: 1.5px solid #ffffff;
            margin-top: 0px !important;
        }
    }
    ion-slides {
        height: 32vw !important;
    }
    .techName {
        text-align: center !important;
        font-size: 3.17vw;
        letter-spacing: 1.2px;
        line-height: 5.3vw;
        font-family: $montserrat-light;

    }
    .tech-hide {
        display: none;

    }
    .header-image {
        background-image: url(https://ununsplash.imgix.net/photo-1421091242698-34f6ad7fc088?fit=crop&fm=jpg&h=650&q=75&w=950);
        height: 40vh;
    }
    .main-content {
        background-color: map-get($colors, dark);
        box-shadow: 0px -1px 13px 1px rgba(0, 0, 0, 0.3);
    }
    ion-segment {
        padding: 0px 0px;
        opacity: 0.7;
        position: relative;
        top: -50px;
    }
    ion-segment-button {
        border-color: map-get($colors, primary) !important;
        color: #fff !important;
    }
    ion-card {
        background-color: #fff;
        width: 100%;
        margin: 0;
        margin-bottom: 25px;
        position: relative;
        top: -30px;
    }
    ion-card:last-of-type {
        margin-bottom: 0 !important;
    }
    ion-item {
        background-color: #fff;
    }
    .circle-pic {
        width: 50px;
        height: 50px;
        background-color: red;
        border-radius: 25px;
    }
    .time {
        text-align: right;
    }
    .time2 {
        text-align: center;
    }
    .list-ios>.item-block:last-child,
    .list-md>.item-block:last-child,
    .list-ios>.item-wrapper:last-child .item-block,
    .list-md>.item-wrapper:last-child .item-block {
        border-bottom: 0px;
    }
    .list-header {
        font-weight: 500;
        font-size: 4.76vw;
        padding: 10px;
        color: #000000;
        background-color: transparent;
        text-align: left;
    }
    .lblHorizontalSeparator {
        background-color: rgba(255, 255, 255, 0.05);
        margin: 0px 19.5px 20px 19.5px !important;
        height: 1px !important;
    }
    .lblChooseServices {
        text-align: center;
        line-height: 6.6vw;
        letter-spacing: 1.8px;
        font-size: 4.6vw;
        margin-bottom: 20px;
        font-family: $montserrat-light !important;
    }
    .scroll-content {
        padding: 0px 0px 0px 0px !important;
    }
    ion-list.serviceLeftBorder {
        margin: 0px 0 2.5vw 0 !important;
        background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
        background-position: 27px 0;
        background-repeat: repeat-y;
        padding: 0px;
        background-size: 1px;
        border-bottom: 0px; // margin-bottom: 12.5vw !;
    }
    .serviceCell {
        // height: 58px !important;
        margin-top: 1.5px !important;
    }
    .service-name {
        margin-top: 2.1vw !important;
        margin-bottom: 0.5vw !important; // height: 20px !important;
        // line-height: 5.29px !important;
        letter-spacing: 0.7px;
        color: #ffff !important;
        background-color: transparent !important;
        font-size: 4.6vw;
        font-family: $montserrat-light;
    }
    .approx-time {
        margin-top: 6.5px !important;
        margin-bottom: 11px !important;
        height: 3.8vw !important;
        color: #989494;
        background: transparent !important;
        font-size: 2.91vw; // font-family: $montserrat-light;
        // background: blue !important;
    } // ion-content.innerContent .scroll-content{
    //     overflow-y: hidden !important;
    // }
    .review-heading {
        text-align: center;
        font-size: 1.8rem;
        font-weight: 200;
    }
    .item-divider-ios,
    .item-divider-md {
        background-color: #cdcbcb !important;
        color: black !important;
        font-size: 5.29vw;
        vertical-align: middle !important;
        font-family: $Montserrat-Bold;
    }
    .clsCatgory {
        // background-color: red;
        width: 100%;
        height: 36;
        padding-top: 0%;
        padding-bottom: 0%;
        margin: 0px 0px 0px 0px;
    }
    .item-ios,
    .item-md {
        background: none;
    }
    .item.item-block.item-md,
    .item.item-block.item-ios {
        border-bottom: none;
        padding-bottom: 0pt;
        margin-top: 5pt;
    }
    .service-heading {
        font-size: 1.6rem;
        color: #ffff;
    }
    .note {
        color: #ffff; // font-size: 1.6rem;
        font-size: 3.7vw;
        min-height: 4vw;
    }
    .approx-time {
        font-size: 2.91vw !important;
        min-height: 4vw; // background: green !important;
        min-height: 4vw;
        color: #cdcbcb;
    }
    .item-border {
        border-left: 1px solid;
        position: absolute;
        left: 28px;
        background-color: red;
        height: 400px;
    }
    ion-item.item.item-block.item-ios.item-checkbox {
        box-shadow: none !important;
        border-bottom: 0px !important;
    }
    .checkbox-ios .checkbox-icon,
    .checkbox-md .checkbox-icon {
        border-color: #fff;
        background-color: #282b1d;
        border-radius: 50%;
        margin-top: -12px !important;
    } // .checkbox-ios .checkbox-checked,
    // .checkbox-md .checkbox-checked {
    //     border-color: #ffffff !important;
    //     background-color: #2a2f1d !important;
    //     box-shadow: none !important;
    //     border-bottom: 0px !important;
    //     border-radius: 25%;
    // }
    ion-checkbox.checkBox {
        box-shadow: none !important;
        border-bottom: 0px !important;
    }
    .footerContainer {
        margin-top: 0pt;
        padding-top: 0pt;
        background: transparent !important;
        .service-footer {
            padding: 0px;
            background-color: rgba(255, 255, 255, 0.05); // #8b8b8b;
            border: 1px solid rgba(255, 255, 255, 0.6) !important;
            height: 10.5vw;
            margin-top: 0px !important;
            margin-bottom: 10px !important;
        }
    }
    .lbltotalTime {
        color: white !important;
        font-size: 3.7vw;
        font-family: $Montserrat-Medium;
        text-align: left;
        float: left;
        background-color: transparent !important;
        margin-top: 0pt;
        width: 55% !important;
        line-height: 10.5vw;
        letter-spacing: 0.3px;
    }
    .lbltotalPrice {
        color: white !important;
        font-size: 3.7vw;
        font-family: $Montserrat-Medium;
        background-color: transparent !important;
        float: right;
        margin-top: 0pt;
        text-align: right;
        padding-right: 3pt !important;
        width: 40% !important;
        margin-right: 0px !important;
        line-height: 40px;
        letter-spacing: 0.3px;
    }
    #tvalue {
        color: white;
        font-size: 4.92vw !important;
        width: 50%;
        height: 100%;
        font-family: $Montserrat-Bold;
    }
    #ttitle {
        font-size: 3.87vw;
        padding-left: 5pt;
        width: 50%;
        height: 100%; // color: red;
    }
    .clsbtnNext {
        font-size: 4.5vw;
        padding-bottom: 0%;
        background-color: rgb(255, 51, 102) !important; // background-image: -webkit-gradient(linear, left top, right bottom, color-stop(0,rgb(217, 7, 17)), color-stop(1, rgb(234,68,52)));
    }
}