<!-- <ion-header>
  <ion-navbar class="navBar">
    <ion-title class="headerTitle">{{appointment ? 'Reschedule Appointment' : 'Add Appointment' }}</ion-title>
  </ion-navbar>
</ion-header> -->

<ion-header class="login-header">
  <ion-navbar class="navBar">
    <ion-label class="headerTitle">{{appointment ? 'Reschedule Appointment' : 'Add Appointment' }}</ion-label>
  </ion-navbar>
</ion-header>

<ion-content (ionScroll)="scrollHandler($event)">

  <ion-label class="lblAssignTo">Assign To:</ion-label>


  <ion-slides slidesPerView="3" spaceBetween="10" centeredSlides="true" >
    <ion-slide *ngFor="let tech of techData; let i=index;" [ngClass]="{'tech-hide': tech.tech_is_active === '0'}"
      [hidden]="tech.tech_status === '0' ">
      <div (click)="selectedTechDetailTapped(tech,'',i)" (click)="gotoSlide(i)"
        [ngClass]="{'techCellBig': tech.tech_id === selectedTechId, 'techCellNormal': tech.tech_id !== selectedTechId}">
        <img *ngIf="tech.tech_pic" [src]=" baseUrl + tech.tech_pic">
        <img *ngIf="!tech.tech_pic" src="assets/imgs/user.png">
        <p class="techName">{{tech.tech_name}}</p>
      </div>
    </ion-slide>
  </ion-slides>


  <!-- ending technician secions -->
  <ion-label class="lblHorizontalSeparator">Choose the services</ion-label>
  <ion-label class="lblChooseServices">Choose the services</ion-label>

  <!-- ......................................................... -->

  <!-- ..... for new Appointment .... -->
  <div class="innerContent">

    <ion-list class="serviceLeftBorder" *ngFor="let category of salonServicesCategories; let i=index;"
      (ionScroll)="scrollHandler($event)"
      [hidden]="!category.services || category.services.length === 0 || category.enabled_service_cnt === '0' ">

      <ion-item-divider>
        <ion-label class="clsCatgory">{{ category.ssc_name }}</ion-label>

      </ion-item-divider>


      <div *ngFor="let service of category.services;"
        [hidden]="service.sser_enabled === '0' || service.sser_enabled === 0 ">
        <ion-item class="serviceCell" *ngIf="category.ssc_name.trim()===service.ssc_name.trim();" no-lines>
          <ion-checkbox class="checkBox" [checked]="service.checked" item-start
            (click)="calculateAppoCostPrice(service)"></ion-checkbox>
          <ion-label class="label">
            <p text-wrap class="service-name"> {{ service.sser_name }}</p>
            <p class="approx-time">Approx Time: {{ service.sser_time }}</p>
          </ion-label>
          <ion-note item-end="" class="note">
            {{currencySymbol}} {{ roundAmount(service.sser_rate)}}
          </ion-note>
        </ion-item>
      </div>
    </ion-list>
  </div>


  <!-- for Reschedule -->
  <!-- <div *ngIf="appointment" class="innerContent">
    <ion-list class="serviceLeftBorder" *ngFor="let techservice of Categories; let i=index;">
    <ion-list class="serviceLeftBorder" *ngFor="let category of salonServicesCategories; let i=index;" >
      
      <ion-item-divider>
        {{ techservice.ssc_name }}
      </ion-item-divider>
      <ion-item *ngFor="let service of techservice.services; let i=index;" no-lines>
        <ion-checkbox (ionChange)="calculateAppoCostPrice(service)" [checked]="service.checked" item-start></ion-checkbox>
        
        <ion-label class="label">
          <p class="service-heading"> {{ service.sser_name }}</p>
          <p class="approx-time">Approx Time: {{ service.sser_time }}</p>
        </ion-label>
        <ion-note item-end="" class="note">
          {{currencySymbol}}  {{ service.sser_rate }}
        </ion-note>
      </ion-item>
    </ion-list>

  </div> -->
</ion-content>

<ion-footer class="footerContainer">

  <div class="service-footer">
    <ion-label class="lbltotalTime" id="ttitle">Approx Time:
      <span id="tvalue"> {{totalTime}} Min</span>
    </ion-label>

    <ion-label class="lbltotalPrice" id="ttitle">Cost:
      <span id="tvalue">{{currencySymbol}} {{roundAmount(totalPrice)}}</span>
    </ion-label>
  </div>
  <button ion-button full color="salon" class="clsbtnNext" style="padding-bottom:0%;"
    (click)="btnNextTappe()">Next</button>
</ion-footer>