.md,
.ios {
    page-appointments {
        div.app-list {
            margin: 0px 0 -10px 0px !important;
            background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
            background-position: 16px;
            background-repeat: repeat-y;
            background-size: 2px;
        }
    }
}
    // .md{
    //     page-appointments {
    //         div.app-list {
    //             margin: 0px 0 -60px 0 !important;
    //             background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //             background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //             background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //             background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //             background-position: 16px;
    //             background-repeat: repeat-y;
    //             background-size: 2px;
    //         }
    //     }
    // }

    // .ios{ page-appointments {
    //     div.app-list {
    //         margin: 0px 0 -10px 0 !important;
    //         background: -o-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //         background: -moz-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //         background: -webkit-linear-gradient(left, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //         background: linear-gradient(90deg, rgba(109, 108, 107, 0.37) 1px, rgba(109, 108, 107, 0.37) 1px);
    //         background-position: 16px;
    //         background-repeat: repeat-y;
    //         background-size: 2px;
    //     }
    // }
    // }
   

page-appointments {
    .page-heading {
        padding: 0px 15px;
        font-size: 34px;
        margin-top: 0.8rem !important;
    }
    h2 {
        color: white !important;
        background-color: transparent !important;
        font-size: 8vw !important;
        font-family: $Montserrat-Bold; // margin-left: 12px;
        padding-left: 12px;
        margin-top: 0px !important;
    }
    .unselectedDate {
        background-color: transparent !important;
        text-align: center;
        border-radius: 50%;
        height: 30px;
        padding-top: 8px;
        width: 30px;
        margin-left: 2px;
        margin-top: 7px;
        font-size: 5.29vw;
        margin-right: 2px;
    }
    .tech-hide {
        display: none;
        // transform-style: preserve-3d;
        backface-visibility: hidden !important;
    }
    ion-slides{
        // transform-style: preserve-3d;
        backface-visibility: hidden !important;
    }
    .calender-img img {
        width: 35px;
        
    }
    .slide {
        padding: 5px 5px 5px 5px;
        text-align: center;
    }
    button.slide {
        background: none;
        color: white;
    }
    .slide img {
        border-radius: 50%;
        width: 13.2vw;
        height: 13.2vw;
    }
    .slide .imgactive {
        border-radius: 50%;
        width: 55px;
        height: 55px;
    }
    .slide img.inActive {
        margin-top: 18px;
        width: 10.5vw;
        height: 10.5vw;
        -webkit-transform: translateZ(0);
    }
    .slide img.active {
        margin-top: 5px !important;
        width: 18.5vw;
        height: 18.5vw;
        border: 2px solid #ffffff;
        -webkit-transform: translateZ(0);
    }
    .slide p {
        line-height: 0px;
        background: green !important;
    }
    .slide ion-label {
        font-size: 3.2vw;
    }

    .day {
        width: 100%;
        padding: 1px 10px 1px;
    }
    .card-ios {
        margin: 0px;
        width: calc(100% - 10px);
        border-left: 1px solid #3d3d3d;
        border-bottom: 1px solid #3d3d3d;
        float: right;
    }
    .card-ios p,
    .item-ios p {
        color: white;
    }
    // ion-item {
    //     background: none !important;
    // }
    .table>tbody>tr>td.calendar-hour-column {
        transform: rotate(-450deg);
        font-size: 1.9rem;
    }
    .dayview-normal-event-table tr {
        height: 150px;
    }
    ion-card {
        background: none !important;
    }
    ion-badge {
        // font-size: 0.8em;
        font-size: 3.2vw;
        font-weight: 100;
        // padding: 2px 5px;
        padding: 6px 10px;
        border-radius: 2px !important;
    }
    .page-heading {
        padding: 0px 15px;
        margin-top: 0.5rem !important;
    }
    .badge-ios {
        border-radius: 2px !important;
    }
    p.empty-appt {
        text-align: center;
    }
    .fab ion-icon {
        font-size: 3.4rem;
    }
    .tech {
        float: left;
    }
    .tech img {
        margin-top: -10px;
        width: 40px;
        height: 40px;
    }
    .item-ios {
        padding-left: 10px;
    }
    .time {
        text-align: right;
        margin-right: 2px !important;
    }
    .item-ios p {
        margin: 0 5px 15px;
    }
    .PhoneContainer {
        line-height: 40px; // background: deeppink;
        margin-left: 20px;
        .phone-btn {
            background: none;
            width: 25pt;
            padding: 5px;
            color: #ffff;
            margin-top: -5px;
            height: 25pt;
            border: 1px solid;
            border-radius: 50%;
        }
        a span {
            font-size: 3.7vw;
        }
        .phone-icn {
            font-size: 1.3rem;
        }
    }
    // .phone-btn {
    //     background: none;
    //     width: 30px;
    //     padding: 5px;
    //     margin-top: -5px;
    //     height: 30px;
    //     border: 1px solid;
    //     border-radius: 50%;
    // }
    
    
    .btnFinish {
        width: 50%;
        margin: 0 auto !important;
        height: 30px;
        background-color: #484040 !important;
    }
    p.prev-app,
    .item-md p.prev-app {
        font-size: 1.7rem;
        border-bottom: 1px solid;
        font-size: 4vw;
    }
    p.prev-app-desc {
        font-size: 1.2rem;
        width: 100%;
    }
    .prev-app-desc img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        float: left;
    }
    .prev-app-desc span {
        position: relative;
        top: 10px;
        left: 8px;
        font-size: 1.4rem;
    }
    span.prev-app-date {
        position: relative;
        top: 5px;
        font-size: 1.4rem;
    }
    .card-md h3,
    .card-md h4,
    .card-md h5,
    .card-md h6 {
        color: #ffff;
    }
    .item-md p {
        color: #ffff;
        margin: 0px 5px 10px;
    }
    .item-md p.prev-app {
        font-size: 1.7rem;
        border-bottom: 1px solid;
        margin-top: 15px;
    }
    .item-md ion-avatar {
        min-height: 35px;
    }
    .monthview-container {
        height: 65% !important;
    }
    .event-detail-container {
        display: none;
    }
    /*******   Dashboard css ******/
    ion-badge {
        // font-size: 0.8em;
        font-size: 3.2vw;
        font-weight: 100;
        padding: 6px 10px;
        border-radius: 2px !important;
    }
    .page-heading {
        padding: 0px 15px;
        margin-top: 0.8rem !important;
    }
    .badge-ios {
        border-radius: 2px !important;
    }
    p.empty-appt {
        text-align: center;
        font-size: 3.7vw;
    }
    .fab ion-icon {
        font-size: 3.4rem;
    }
    .tech {
        float: left;
    }
    .tech img {
        margin-top: -10px;
        width: 13.2vw;
        height: 13.2vw;

    }
    .item-ios {
        padding-left: 5px;
    }
    .time {
        text-align: right;
        margin-right: 2px !important;
    }
    .item-ios p {
        margin: 0 15px 10px;
    }
    .card-border {
        position: absolute; // height: 40%;
        left: 15px;
        border: 1px solid rgba(109, 108, 107, 0.37);
    }
    .app-sep {
        width: 100%;
        border-bottom: 1px solid rgba(109, 108, 107, 0.37);
    }
    .phone-app {
        padding-left: 10px;
    }
    .phone-btn {
        background: none;
        width: 25px;
        padding: 5px;
        color: #ffff;
        margin-top: -5px;
        height: 25px;
        border: 1px solid;
        border-radius: 50%;
    }
    .phone-icn {
        font-size: 1.3rem;
    }
    .toggle-icn {
        // font-size: 1.9rem;
        // margin-left: 5px;
        // position: relative;
        // top: 1px;
        // font-weight: 600;
        position: absolute;
        top: 50%;
        left: 50%;
        height: 50%;
        transform: translate(-50%, -50%);
        width: 10px;
        height: 15px;
        display: block;
        color: #b62759;
    }
    .collapse {
        position: relative;
        float: left;
        left: 8px;
        width: 18px;
        height: 18px;
        border-radius: 50%;
        background-color: white;
    }
    .collapse.up {
        top: 55px;
        transition: top 0.25s ease-out;
    }
    .collapse.down {
        top: 115px;
        transition: top 0.35s ease-in;
    }
    .top-header {
        // min-height: 320px;
        opacity: 1;
        display: block;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .navbackground {
        background-color: rgba(144, 144, 129, 0.18);
    }
    .titlefadeout {
        opacity: 0;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .titlefadein {
        opacity: 1;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .contentFadeout {
        // min-height: 0;
        // max-height: 0;
        display: none;
        opacity: 0;
        -webkit-transition: all .15s ease-in-out;
        transition: all .15s ease-in-out;
    }
    .slide-up {
        max-height: 0;
        transition: max-height 0.25s ease-out;
        overflow: hidden;
    }
    .slide-down {
        max-height: 500px;
        transition: max-height 0.35s ease-in;
    }
    .ios-border {
        // border-left: 1px solid rgba(109, 108, 107, 0.37);
        position: absolute; // left: 15px;
    }
    .android-border {
        // border-left: 1px solid rgba(109, 108, 107, 0.37);
        position: absolute;
        left: 26px;
    }
    .finish-app {
        width: 100%;
        text-align: center;
    }
    // .app-btns {
    //     margin: 10px auto;
    //     width: 90%;
    // }
    .appoOperationsContainer {
        
        margin-left: 8%;
        margin-right: 2%;
        width: 90%; // background: deeppink;
        // .btnAccept {
        //     width: 25%;
        //     height: 30px;
        //     background-color: #32db64;
        // }
        .btnReject {
            width: 100%;
            float: right;
            height: 30px;
            background-color: #e93b3b;
        }
        .btnReschedule {
            width: 100%;
            height: 30px;
            background-color: #484040;
        }
    }

    p.prev-app,
    .item-md p.prev-app {
        font-size: 1.7rem;
        border-bottom: 1px solid;
        margin-top: 15px;
        width: 170px;
    }
    p.prev-app-desc {
        font-size: 1.2rem;
        width: 100%;
    }
    .prev-app-desc img {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        float: left;
    }
    .prev-app-desc span {
        position: relative;
        top: 10px;
        left: 8px;
        font-size: 1.4rem;
    }
    span.prev-app-date {
        position: relative;
        float: right;
        font-size: 1.2rem;
        top: 10px;
    }
    .card-md h3,
    .card-md h4,
    .card-md h5,
    .card-md h6 {
        color: #ffff;
    }
    .item-md p {
        color: #ffff;
        margin: 0px 5px 10px;
    }
    .item-md p.prev-app {
        font-size: 1.7rem;
        border-bottom: 1px solid;
        margin-top: 15px;
    }
    .item-md ion-avatar {
        min-height: 35px;
    }
    .item.item-block.item-md,
    .item.item-block.item-ios {
        margin-top: 0px;
    }
    .item-ios.item-block .item-inner {
        padding-right: 0px;
    }
    .item-ios ion-avatar[item-left],
    .item-ios ion-thumbnail[item-left],
    .item-ios ion-avatar[item-start],
    .item-ios ion-thumbnail[item-start] {
        margin: 7px 5px 8px 0;
    }
    // .cust-name h3 {
    //     font-size: 5.02vw;
    //     text-transform: capitalize;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     width: 143px !important;
    // }
    .cust-name h3 {
        
        text-transform: capitalize;
        overflow: hidden;
        text-overflow: ellipsis;
        // background: green;
        
        font-size: 4.5vw;
        font-family: $Montserrat-SemiBold;
    }
    .cal-cust-img img {
        margin-top: 4px !important;
        margin-left: 10px;
        float: left;
        width: 40px;
        height: 40px;
        border-radius: 50%;
    }
    p.appoDuration {
        line-height: 5px;
        margin-left: 55px;
        color: purple !important;
    }
    .custName {
        margin-top: 5px !important;
        margin-left: 55px;
    }
    .cal-phone-btn {
        background: none !important;
    }
    .cal-phone-icn {
        font-size: 3.1rem;
    }
    .app-row {
        padding-left: 17px;
    }
    .list-ios {
        margin: 5px 0 5px;
    }
    



    
    .app-list {
        // background: #32db64 !important;
        .mainCard {
            // background: #e93b3b !important;
            .appointmentCard {
                margin-top: 0px;
                margin-left: 20px;
                // background: purple !important;
                .leftContainer {
                    // background: dodgerblue !important;
                    .custPic img {
                        margin-top: -10px;
                        width: 13.2vw;
                        height: 13.2vw;
                    }
                }
                .lblAppoDuration {
                    // background: deepskyblue;
                    // width: 13.2vw !important;
                    // height: 100% !important;
                    float: right;
                    margin-top: 3px;
                    
                    .time {
                        font-size: 3.3vw;
                        text-align: center !important;
                        padding-right: 0px !important;
                        // color: purple;
                        position: relative;
                        top: 5px !important;
                        // margin-top: 3vw;;
                        // line-height: 3.7vw;;
                        
                    }
                    .pinImage {
                        // background: green;
                        margin-top: 0px !important;
                        width: 13.2vw;
                        height: 13.2vw;
                        border-radius: 50% !important;
                        margin-right: 0px !important;
                        z-index: 100000;
                        float: right !important;
                    }
                }

                // .lblAppoDuration {
                    // background: deepskyblue;
                //     width: 13.2vw !important;
                //     height: 100%;
                //     float: right;
                //     margin-top: 3px;
                //     .time {
                //         text-align: right;
                //         margin-right: 2px !important;
                //     }
                //     .pinImage {
                //         // background: green;
                //         margin-top: 0px !important;
                //         width: 13.2vw;
                //         height: 13.2vw;
                //         border-radius: 50% !important;
                //         margin-right: 0px !important;
                //         z-index: 100000;
                //         float: right !important;
                //     }
                // }
                // .lblAppoServices {
                //     // background: red;
                //     margin-left: 0px !important;
                //     margin-top: 1.64vh;
                //     padding-left: 0px !important;
                //     text-align: left !important;
                // }
            }
            .lblAppoServices {
                // margin-top: 1.64vh;
                text-align: left !important;
                margin-left: 20px;
                font-size: 3.92vw;
            }
        }
    }
    .list-ios .item-block .item-inner {
        border-bottom: none;
    }
    ion-item.item.item-block.item-ios {
        border-bottom: 2px solid rgba(109, 108, 107, 0.37) !important;
    }
    ion-badge ion-icon {
        // font-size: 1rem;
        font-size: 3.2vw;
    }
    .item-block:first-child {
        border: none !important;
    }
    .ion-item.item.item-block.item-ios{
        background: blue !important;
    }
   
}