<ion-header>

  <ion-navbar [ngClass]="{'navbackground': showAppTop}">
    <button style="" ion-button clear class="menuButton" menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-title>
      <div [ngClass]="{'titlefadeout': !showAppTop, 'titlefadein': showAppTop}">
        <img style="width:30px;height:30px; border-radius:50%;float:left;" [src]=" baseUrl + selectedTech?.tech_pic ">
        <span style="color:white;font-size:16px;line-height: 30px;"> Appointments for jan 24</span>
      </div>
    </ion-title>

    <ion-buttons end>
      <button (click)="calenderswitch()" class="calender-img" ion-button icon-only>
        <img *ngIf="!calenderview" src="assets/imgs/calView.png" style="
      width: 30px  !important;
      height: 30px !important;
      ">
        <img *ngIf="calenderview" src="assets/imgs/listView.png" style="
      width: 30px  !important;
      height: 30px !important;
      ">
      </button>

    </ion-buttons>
  </ion-navbar>
</ion-header>

<!-- End Of header -->


<ion-content>
  <div class="top-header" [ngClass]="{'contentFadeout': showAppTop, 'top-header': !showAppTop}">
    <h2 class="page-heading">Appointments</h2>
    <calendar [calendarOptions]="calendarOption" (dateSelected)="dateClicked($event)"></calendar>
    <!-- <ion-scroll scrollX="true" class="tech-scroll" style="width:100vw; height:115px; background-color:rgba(144, 144, 129, 0.18);">
      <ion-row nowrap>
        <ion-col *ngFor="let item of salonTechs; let i=index;" [ngClass]="{'tech-hide': item.tech_is_active === '0'}" col-4>
          <button  (click)="getappointments(item, i)" class="slide">
          <img *ngIf="item.tech_pic" [ngClass]="{'active': item.tech_id === selectedTech.tech_id, 'inActive': item.tech_id !== selectedTech.tech_id}" >
          <img *ngIf="!item.tech_pic" [ngClass]="{'active': item.tech_id === selectedTech.tech_id, 'inActive': item.tech_id !== selectedTech.tech_id}" src="assets/imgs/user.png">
          <p>{{item.tech_name}}</p>
        </button>          
        </ion-col>
      </ion-row>
    </ion-scroll> -->
    <ion-slides slidesPerView="3" spaceBetween="10" style="height:30.4vw; background-color:rgba(144, 144, 129, 0.18);" *ngIf="salonTechs.length > 0">
      <div *ngFor="let tech of salonTechs; let i=index;">
      <ion-slide *ngIf="tech.tech_status === '1' "  [ngClass]="{'tech-hide': tech.tech_is_active === '0'}">
        <button class="slide" (click)="getappointments(tech, i)">
          <img *ngIf="tech.tech_pic" [ngClass]="{'active': tech.tech_id === selectedTech.tech_id, 'inActive': tech.tech_id !== selectedTech.tech_id}"
            src="{{techimgUrl}}{{tech.tech_pic}}">
          <img *ngIf="!tech.tech_pic" [ngClass]="{'active': tech.tech_id === selectedTech.tech_id, 'inActive': tech.tech_id !== selectedTech.tech_id}"
            src="assets/imgs/user.png">
          <!-- <p  text-wrap >{{tech.tech_name}}zahid shabbir</p> -->
          <ion-label text-wrap >{{tech.tech_name}}</ion-label>
        </button>
      </ion-slide>
    </div>
    </ion-slides>
  </div>
  <div *ngIf="appointments.length === 0">
    <p class="empty-appt" padding [hidden]="appointments.length > 0">No Appointments for {{selectedTech?.tech_name}}</p>
  </div>


  <div *ngIf="appointments.length > 0 && !calenderview">
    <div *ngFor="let appointment of appointments;">
      <appointments-page-detail *ngIf="appointment.app_status !== 'rejected' && appointment.app_status !== 'deleted' && appointment.app_status !== ''"
        [selectedTech]="selectedTech" [serviceCategories]="serviceCategories" [salonData]="salonData" [techServices]="techServices"
        (rescheduleApp)="rescheduleAppointment($event)" (appointmentRefresh)="refreshAppointment($event)" [appointment]="appointment"
        [appointments]="appointments">
      </appointments-page-detail>
    </div>
  </div>

  <div [style.height]="heightOfCalendar+'px'" [hidden]="!calenderview">

    <div style="margin-left:64px; background:white;width:1px;" [style.height]="heightOfCalendar+'px'">
      <span *ngFor="let time of times; let i=index">
        <div style="margin-left:-64px;font-size:20px;font-weight:600;width:100%;height:1px;background:white;position:absolute" [style.margin-top]="(i * 4) +'px'"
          *ngIf="i % 60 == 0">
          <div style="width:94px;margin-left:-15px; transform: rotate(-90deg);margin-top:110px !important">
            {{get12HourFormatFrom24Hour(times[i])}}
          </div>
        </div>
      </span>
    </div>
  </div>
  <div [hidden]="!calenderview" [style.margin-top]="-(heightOfCalendar-breakTimeY)+'px'" style="position:absolute; background:rgb(217,54,61); margin-left:65px; width:100%"
    [style.height]="breakTimeHeight+'px'">
  </div>

  <div hidden [hidden]="!calenderview" *ngFor="let appo of appointments; let i = index" [style.margin-top]="getMarginTop(appo)+'px'"
    style="border-bottom: 3px solid white; color:white;width:100%; position:absolute; right:0px; left:65px; background:rgba(255,255,255,0.1);"
    [style.height]="getAppoHeight(appo)+'px'">
    <div [style.margin-top]="appo.app_est_duration <=15 ? '' : appo.app_est_duration / 2 +'px'">
      <ion-row>
        <ion-col col-7>
          <ion-avatar *ngIf="appo.cust_pic" item-left class="cal-cust-img">
            <img src="{{custimgUrl}}{{appo.cust_pic}}">
          </ion-avatar>

          <ion-avatar *ngIf="!appo.cust_pic" item-left class="cal-cust-img">
            <img src="assets/imgs/user.png">
          </ion-avatar>
          <div class="cal-cust-name">
            <p class="custName">{{appo.cust_name}}</p>
            <p class="appoDuration">{{appo.app_est_duration}} Mins</p>
            <p style="margin-left:10px;" [hidden]="appo.app_est_duration <= 20">{{appo.app_services}}</p>
          </div>
        </ion-col>
        <ion-col col-3>
          <ion-badge color="secondary">
            {{appo.app_status}}
          </ion-badge>
          <button (click)="callToCust(appo.cust_phone)" class="cal-phone-btn" ion-button icon-only>
            <ion-icon class="cal-phone-icn" name="ios-call">
            </ion-icon>
          </button>
        </ion-col>
      </ion-row>
    </div>
  </div>


</ion-content>