app-page-settings {
    .mainCard {
        background-color: transparent !important; // rgba(255, 255, 255, 0.17); // padding: 15px 10px 0px 0px;
        margin-top: 10px;
        margin-left: 2%;
        margin-right: 2%;
        width: 96%;
        height: 300px !important;
        border-color: transparent;
        border-width: 0pt;
        border-radius: 5px;
        background: transparent !important;
    }
    .page-heading {
        padding: 0px 15px;
        font-size: 8vw;
        margin-top: 0.8rem !important;
    }
    h2 {
        color: white !important;
        background-color: transparent !important;
        font-size: 30px;
        font-family: $Montserrat-Bold;
    }
    .button {
        text-transform: none;
    }
    ion-row {
        // background: deepskyblue !important;
    }
    .lblAutoAccept {
        color: white !important;
        background-color: transparent !important;
        font-size: 3.96vw !important;
        font-family: $montserrat-light;
        width: 100%;
    }
    .btnSubmit {
        width: 50%;
        margin-left: 25%;
        height: 11vw;
        align-content: center;
        background-color: color($colors, phoneAdminPinkColor, base);
        top: 5.5vw;
        font-size: 5.55vw;
        font-family: $Montserrat-Bold;
        border-radius: 1vw;
    }
    .txtfutureAppoDays {
        background-color: white !important;
        color: black;
        border-radius: 5pt; // height: 30pt;
        max-height: 6vh !important;
        font-size: 4.5vw;
        font-family: $Montserrat-Medium;
        .text-input-md,.text-input-ios{
            text-align: right !important;
            padding-right: 10px;
        }
       
    } // IOS STYLING
    .toggle-ios.toggle-checked .toggle-icon,
    .toggle-md.toggle-checked .toggle-icon {
        background-color: green;
    }
    .mainCard {
        box-shadow: none;
    }
    .backgroundImage {
        margin: 0px 0px 0px 0px;
        padding: 0px 0px 0px 0px;
        width: 100%;
        height: 100%;
    }
    toggle-ios-background-color-off {
        background-color: color($colors-ios, primary);
    }
    toggle-ios-background-color-on {
        background-color: color($colors-ios, primary);
    }
    .toggle input:checked+.track {
        border-color: #a82315 !important;
        background-color: #e74c3c !important;
    }
    .toggle-ios .toggle-inner {
        background-color: white; // Whatever color you want
    }
}

// ANDROID CSS
.toggle-md.toggle-checked .toggle-icon {
    background-color: green;
}

.toggle-md.toggle-unchecked .toggle-icon {
    background-color: purple;
}

.item.item-block.item-md,
.item.item-block.item-ios {
    border-bottom: 1px solid white;
    padding-bottom: 5pt;
    margin-top: 15pt;
    background-color: transparent;
    width: 100%;
}

.item-ios .toggle-ios {
    margin: 0px;
    padding: 6px 8px 5px 16px;
}

.toggle-md .toggle-inner {
    background-color: white; // Whatever color you want
}

.toggle-md-background-color-off {
    background-color: color($colors-md, primary);
}

toggle-md-background-color-on {
    background-color: color($colors-md, primary);
}

.mainCard.card.card-md {
    box-shadow: none;
}

.toggle-md.toggle-checked .toggle-inner {
    background-color: white;
}

.item-md.item-input.ng-valid.item-input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner,
.item-md.item-input.ng-valid.input-has-value:not(.input-has-focus):not(.item-input-has-focus) .item-inner {
    box-shadow: none;
}

.customToastClassz {
    .toast-container {
        background-color: rgb(13, 158, 27) !important;
        border-radius: 5px;
    }
    .toast-message {
        width: 100%;
        // padding: 2pt;
        text-align: center;
        background-color: rgb(13, 158, 27);
        font-size: 3.7vw;
        font-family: $Montserrat-Regular !important;
        color: white;
        border-radius: 5px;
    }
    .scroll-content {
        overflow-y: auto;
    }
    .toast-message {
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
    .toast-message:before,
    .toast-message:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }
    .toast-message:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }
}

.failureToastClass {
    .toast-container {
        background: rgb(175, 14, 14) !important;
        border-radius: 5px;
    }
    
    .toast-message {
        width: 100%;
        text-align: center;
        background: rgb(175, 14, 14);
        padding: 2pt;
        
        font-size: 3.7vw;
        font-family: $Montserrat-Regular !important;
        color: white;
        border-radius: 5px;
        line-height: 33px;
    }
    .scroll-content {
        overflow-y: auto;
    }
    .toast-message {
        position: relative;
        -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
        box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
    }
    .toast-message:before,
    .toast-message:after {
        content: "";
        position: absolute;
        z-index: -1;
        -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
        top: 50%;
        bottom: 0;
        left: 10px;
        right: 10px;
        -moz-border-radius: 100px / 10px;
        border-radius: 100px / 10px;
    }
    .toast-message:after {
        right: 10px;
        left: auto;
        -webkit-transform: skew(8deg) rotate(3deg);
        -moz-transform: skew(8deg) rotate(3deg);
        -ms-transform: skew(8deg) rotate(3deg);
        -o-transform: skew(8deg) rotate(3deg);
        transform: skew(8deg) rotate(3deg);
    }
}

/*----------------css for spinner*-----------------*/
.loading-ios .loading-spinner + .loading-content{
    font-size: 3.7vw !important;
    font-family: $Montserrat-Regular !important;
}

//toast classes old
// .customToastClassz {
//     .toast-wrapper.toast-top {
//         width: 100% !important;
//         // margin: 0px;
//         // margin-left: -9px !important; // margin-top: -5px !important;
//         margin-top: 6.6vw !important;
//         position: relative;
//         // left: 50%;
//         // transform: translateX(-50%) !important;
//     }
//     .toast-ios .toast-wrapper,
//     .toast-md .toast-wrapper {
//         position: absolute;
//         left: 0px !important;
//         right: 0px !important;
//         margin-top: -9px;
//         border-radius: 0.65rem;
//         z-index: 10;
//         display: block;
//         background: transparent !important;
//     }
//     .toast-message {
//         text-align: center;
//         background-color: green;
//         color: white;
//         font-size: 130%;
//         width: 100% !important; // padding: 0px;
//         // margin: 0px;
//     }
//     .scroll-content {
//         overflow-y: auto;
//     }
//     .toggle-icon {
//         background-color: purple !important;
//     }
// }

// .failureToastClass {
//     .toast-wrapper.toast-top {
//         width: 100% !important;
//         margin: 0px;
//         margin-left: -9px !important;
//         margin-top: 25px !important;
//     }
//     .toast-ios .toast-wrapper,
//     .toast-md .toast-wrapper {
//         position: absolute;
//         left: 0px !important;
//         right: 0px !important;
//         margin-top: -9px;
//         border-radius: 0.65rem;
//         z-index: 10;
//         display: block;
//         background: transparent !important;
//     }
//     .toast-message {
//         text-align: center;
//         background-color: red;
//         color: white;
//         font-size: 130%;
//         width: 100% !important;
//         margin-left: 0px !important;
//         margin-right: 0px !important;
//     }
//     .scroll-content {
//         overflow-y: auto;
//     }
//     .activated {
//         background-color: #d90746 !important;
//         opacity: 1;
//     }
// }