<ion-header class="login-header">
    <ion-navbar class="navBar">
      <ion-label class="headerTitle">Add Appointment</ion-label>
    </ion-navbar>
  </ion-header>

<ion-content>
  
  <div>
    <calendar [calendarOptions]="calendarOption" (dateSelected)="dateClicked($event)"></calendar>
  </div>

  <!-- <ion-scroll scrollX="true" style="width:100%; height:120px">
    <ion-row nowrap>
      <ion-col *ngFor="let date of staticCalendar; let i = index;" col-25 (click)="dateDidSelect(date,i)">
        <div class="slide">
          <ion-label *ngIf="selectedDateIndex == i" class="selectedDate">{{date}}</ion-label>
          <ion-label *ngIf="selectedDateIndex != i" class="unselectedDate">{{date}}</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-scroll> -->


  <ion-label *ngIf="techSlots" text-wrap [hidden]="techSlots.length == 0" class="availableSlotsLabel">Available Slots For {{selectedDateWithMonthName}}</ion-label>
  <ion-label *ngIf="techSlots" text-wrap [hidden]="techSlots.length > 0" class="noSlotAvailable">\n            {{selected_Tech.tech_name}} is not available on  {{selectedDateWithMonthName}}\n        </ion-label>\n
  <!-- <ion-grid class="grid"> -->
    <!-- <div class="grid"> -->
    <ion-row responsive-sm wrap>
      
        <ion-col *ngFor="let slot of techSlots let i=index;" col-3>
            <ion-label *ngIf="selectedSlotIndex == i" style="color:white;min-height: 8vw ; padding: 0.5vw 1.5vw; background:rgb(255, 51,102)" class="lblSlots" (click)="selectedSlot(slot,i)">{{getFormattedSlotTime(slot.ts_start_time)}}</ion-label>
            <ion-label *ngIf="selectedSlotIndex != i" style="color:white; border: 1px solid white; min-height: 8vw; padding: 0.5vw 1.5vw; background: rgba(124, 124, 124, 0.5) !important;" class="lblSlots" (click)="selectedSlot(slot,i)">{{getFormattedSlotTime(slot.ts_start_time)}}</ion-label>
      </ion-col>
    </ion-row>
    <!-- </div> -->
  <!-- </ion-grid> -->
  
</ion-content>
<ion-footer>
  <button ion-button class="btnNext" (click)="btnBookAppointmentTapped()">Book Appointment</button>
</ion-footer>