<ion-list class="SalonCardScrollContainer" no-padding no-margin no-lines>

    <div [style.background]="calendarOptions.calendarBackgroundColor">

        <ion-list class="techScrollView">
            <ion-row nowrap>
                <ion-slides slidesPerView="6" spaceBetween="10">
                    <ion-col *ngFor="let item of datesArray; let i=index;">
                        <ion-slide>
                            <div *ngIf="i == selectedIndex" class="selectedDateContainer">
                                <ion-row no-padding no-margin [style.color]="calendarOptions.seletedDayColor"
                                    class="selectedDay">
                                    {{item.day}}

                                </ion-row>

                                <ion-row no-padding no-margin [style.color]="calendarOptions.selectedDateColor"
                                    class="selectedDate">
                                    {{item.date}}
                                </ion-row>
                                <ion-row no-padding no-margin [style.color]="calendarOptions.selectedMonthAndYearColor"
                                    class="selectedMonthAndYear">
                                    {{item.monthAndYear}}
                                </ion-row>

                            </div>

                            <div  *ngIf="i != selectedIndex" (click)="dateClicked(i)"
                                [style.height]="calendarOptions.sizeOfCircle+'vw'"
                                [style.width]="calendarOptions.sizeOfCircle+'vw'"
                                [style.line-height]="calendarOptions.sizeOfCircle+'vw'"
                                [style.background]="calendarOptions.circleBackgroundColor"
                                [style.border-radius]="calendarOptions.sizeOfCircle / 2 + 'vw'"
                                [style.border]="calendarOptions.circleBorderColor"
                                [style.color]="calendarOptions.unSelectedDateColor" class="dateCircle"
                                [style.margin-left]="getMarginLeft()">
                                {{item.date}}
                            </div>

                        </ion-slide>
                    </ion-col>
                </ion-slides>
            </ion-row>
        </ion-list>

        <!-- <ion-slides slidesPerView="3" spaceBetween="10"
            style="height:115px; background-color:rgba(144, 144, 129, 0.18);" *ngIf="salonTechs.length > 0">
            <div *ngFor="let tech of salonTechs; let i=index;">
                <ion-slide *ngIf="tech.tech_status === '1' " [ngClass]="{'tech-hide': tech.tech_is_active === '0'}">
                    <button class="slide" (click)="getappointments(tech, i)">
                        <img *ngIf="tech.tech_pic"
                            [ngClass]="{'active': tech.tech_id === selectedTech.tech_id, 'inActive': tech.tech_id !== selectedTech.tech_id}"
                            src="{{techimgUrl}}{{tech.tech_pic}}">
                        <img *ngIf="!tech.tech_pic"
                            [ngClass]="{'active': tech.tech_id === selectedTech.tech_id, 'inActive': tech.tech_id !== selectedTech.tech_id}"
                            src="assets/imgs/user.png">

                        <ion-label text-wrap>{{tech.tech_name}}</ion-label>
                    </button>
                </ion-slide>
            </div>
        </ion-slides> -->

        <!-- <ion-list class="techScrollView">
            <ion-row nowrap>
                <ion-col *ngFor="let item of datesArray; let i=index;">
                    <div *ngIf="i == selectedIndex" class="selectedDateContainer">
                        <ion-row no-padding no-margin [style.color]="calendarOptions.seletedDayColor"
                            class="selectedDay">
                            {{item.day}}

                        </ion-row>

                        <ion-row no-padding no-margin [style.color]="calendarOptions.selectedDateColor"
                            class="selectedDate">
                            {{item.date}}


                        </ion-row>
                        
                        <ion-row no-padding no-margin [style.color]="calendarOptions.selectedMonthAndYearColor"
                            class="selectedMonthAndYear">
                            {{item.monthAndYear}}


                        </ion-row>

                    </div>

                    <div class="selected-date-with-options" *ngIf="i != selectedIndex" (click)="dateClicked(i)"
                        [style.height]="calendarOptions.sizeOfCircle+'vw'"
                        [style.width]="calendarOptions.sizeOfCircle+'vw'"
                        [style.line-height]="calendarOptions.sizeOfCircle+'vw'"
                        [style.background]="calendarOptions.circleBackgroundColor"
                        [style.border-radius]="calendarOptions.sizeOfCircle / 2 + 'vw'"
                        [style.border]="calendarOptions.circleBorderColor"
                        [style.color]="calendarOptions.unSelectedDateColor" class="dateCircle"
                        [style.margin-left]="getMarginLeft()">
                        {{item.date}}
                    </div>


                </ion-col>
            </ion-row>
        </ion-list> -->
    </div>
</ion-list>