// Ionic Variables and Theming. For more info, please see:
// http://ionicframework.com/docs/v2/theming/
$font-path: "../assets/fonts";
@import "ionic.globals";
// Shared Variables
// --------------------------------------------------
// To customize the look and feel of this app, you can override
// the Sass variables found in Ionic's source scss files.
// To view all the possible Ionic variables, see:
// http://ionicframework.com/docs/v2/theming/overriding-ionic-variables/
// Named Color Variables
// --------------------------------------------------
// Named colors makes it easy to reuse colors on various components.
// It's highly recommended to change the default colors
// to match your app's branding. Ionic uses a Sass map of
// colors so you can add, rename and remove colors as needed.
// The "primary" color is the only required color in the map.
$colors: ( primary : #387ef5, secondary : #32db64, danger : #f53d3d, light : #f4f4f4, dark : #222, acceptColor : #4BB747, rejectColor : #E43940, resecheduleColor: #7C7C7C, phoneAdminPinkColor: rgb(217, 7, 70), salon: ( base: rgb(247, 47, 105), contrast: #ffffff, ), toggle-ios-background-color-off: purple, toggle-ios-border-color-off: purple, toggle-ios-background-color-on: brown, );

// @font-face {
//     font-family: 'arista';
//     font-weight: 200;
//     font-style: regular;
//     src: url('../assets/fonts/Arista2_0AlternateTrial.ttf');  
// }




// @font-face {
//   font-family: 'SF-Pro-Display-Light';
//   src: url('../assets/fonts/SFProDisplay-Light.eot');
//   src: url('../assets/fonts/SFProDisplay-Light.eot?#iefix') format('embedded-opentype'),
//       url('../assets/fonts/SFProDisplay-Light.woff2') format('woff2'),
//       url('../assets/fonts/SFProDisplay-Light.woff') format('woff'),
//       url('../assets/fonts/SFProDisplay-Light.ttf') format('truetype'),
//       url('../assets/fonts/SFProDisplay-Light.svg#SFProDisplay-Light') format('svg');
//   font-weight: 200;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF-Pro-Display-Regular';
//   src: url('../assets/fonts/SFProDisplay-Regular.eot');
//   src: url('../assets/fonts/SFProDisplay-Regular.eot?#iefix') format('embedded-opentype'),
//       url('../assets/fonts/SFProDisplay-Regular.woff2') format('woff2'),
//       url('../assets/fonts/SFProDisplay-Regular.woff') format('woff'),
//       url('../assets/fonts/SFProDisplay-Regular.ttf') format('truetype'),
//       url('../assets/fonts/SFProDisplay-Regular.svg#SFProDisplay-Regular') format('svg');
//   font-weight: normal;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'SF-Pro-Display-Medium';
//   src: url('../assets/fonts/SFProDisplay-Medium.eot');
//   src: url('../assets/fonts/SFProDisplay-Medium.eot?#iefix') format('embedded-opentype'),
//       url('../assets/fonts/SFProDisplay-Medium.woff2') format('woff2'),
//       url('../assets/fonts/SFProDisplay-Medium.woff') format('woff'),
//       url('../assets/fonts/SFProDisplay-Medium.ttf') format('truetype'),
//       url('../assets/fonts/SFProDisplay-Medium.svg#SFProDisplay-Medium') format('svg');
//   font-weight: 500;
//   font-style: normal;
// }
// @font-face {
//   font-family: 'SF-Pro-Display-Semibold';
//   src: url('../assets/fonts/SFProDisplay-Semibold.eot');
//   src: url('../assets/fonts/SFProDisplay-Semibold.eot?#iefix') format('embedded-opentype'),
//       url('../assets/fonts/SFProDisplay-Semibold.woff2') format('woff2'),
//       url('../assets/fonts/SFProDisplay-Semibold.woff') format('woff'),
//       url('../assets/fonts/SFProDisplay-Semibold.ttf') format('truetype'),
//       url('../assets/fonts/SFProDisplay-Semibold.svg#SFProDisplay-Semibold') format('svg');
//   font-weight: 600;
//   font-style: normal;
// }

// @font-face {
//   font-family: 'SF-Pro-Display-Bold';
//   src: url('../assets/fonts/SFProDisplay-Bold.eot');
//   src: url('../assets/fonts/SFProDisplay-Bold.eot?#iefix') format('embedded-opentype'),
//       url('../assets/fonts/SFProDisplay-Bold.woff2') format('woff2'),
//       url('../assets/fonts/SFProDisplay-Bold.woff') format('woff'),
//       url('../assets/fonts/SFProDisplay-Bold.ttf') format('truetype'),
//       url('../assets/fonts/SFProDisplay-Bold.svg#SFProDisplay-Bold') format('svg');
//   font-weight: bold;
//   font-style: normal;
// }
// // @font-face {
// //   font-family: 'SanFranciscoDisplay_Bold';
// //   font-style: normal;
// //   font-weight: normal;
// //   src: url('../assets/fonts/SFProDisplay-Bold.otf');
// // }
// // $font-family-base:"SanFranciscoDisplay_Bold";

// @font-face {
// font-family: 'SF-Pro-Display-Thin';
// src: url('../assets/fonts/SFProDisplay-Thin.eot');
// src: url('../assets/fonts/SFProDisplay-Thin.eot?#iefix') format('embedded-opentype'),
//   url('../assets/fonts/SFProDisplay-Thin.woff2') format('woff2'),
//   url('../assets/fonts/SFProDisplay-Thin.woff') format('woff'),
//   url('../assets/fonts/SFProDisplay-Thin.ttf') format('truetype'),
//   url('../assets/fonts/SFProDisplay-Thin.svg#SFProDisplay-Thin') format('svg');
// font-weight: 100;
// font-style: normal;
// }



$font-family-ios-base: 'SF-Pro-Display-Regular';
// $font-family-md-base: 'Source Sans Pro';
// $font-family-wp-base: 'Source Sans Pro';
// App iOS Variables
// --------------------------------------------------
// iOS only Sass variables can go here
$tabs-ios-tab-text-color-active: #b62759;
$tabs-ios-tab-icon-color-active: #b62759;
$button-ios-background-color-activated: #b62759;
$toggle-ios-border-color-off: #ffffff;
$toggle-ios-height: 27px;
$toggle-ios-width: 51px;
$alert-button-font-size : 4vw !important;
$alert-min-width : 70vw !important;
$alert-max-height : 90% !important;
$alert-ios-max-width: 80vw !important;
// $alert-ios-content-max-height : 
// App Material Design Variables
// --------------------------------------------------
// Material Design only Sass variables can go here
$tabs-md-tab-text-color-active: #b62759;
$tabs-md-tab-icon-color-active: #b62759;
$button-md-background-color-activated: #b62759;
// App Windows Variables
// --------------------------------------------------
// Windows only Sass variables can go here
// App Theme
// --------------------------------------------------
// Ionic apps can have different themes applied, which can
// then be future customized. This import comes last
// so that the above variables are used and Ionic's
// default are overridden.
@import "ionic.theme.dark";
// Ionicons
// --------------------------------------------------
// The premium icon font for Ionic. For more info, please see:
// http://ionicframework.com/docs/v2/ionicons/
@import "ionic.ionicons";
// fonts
// --------------------------------------------------
// @import "roboto";
// @import "noto-sans";

// New fonts
@font-face {
  font-family: 'montserrat-light';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/montserrat-light.ttf');
}

@font-face {
  font-family: 'Montserrat-Regular';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Regular.otf');
}

@font-face {
  font-family: 'Montserrat-Medium';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Medium.otf');
}

@font-face {
  font-family: 'Montserrat-SemiBold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-SemiBold.otf');
}

@font-face {
  font-family: 'Montserrat-Bold';
  font-style: normal;
  font-weight: normal;
  src: url('../assets/fonts/Montserrat-Bold.otf');
}


// @font-face {
//   font-family: 'JameelNoori';
//   font-style: normal;
//   font-weight: normal;
//   src: url('../assets/fonts/Jameel Noori Nastaleeq.ttf');
// }

$font-family-base: 'Montserrat-Medium' !important;
$font-family-ios-base: 'Montserrat-Medium' !important;
$font-family-md-base: 'Montserrat-Medium' !important;
$font-family-wp-base: 'Montserrat-Medium' !important;

$montserrat-light : 'montserrat-light';
$Montserrat-Regular : 'Montserrat-Regular';
$Montserrat-Medium : 'Montserrat-Medium';
$Montserrat-SemiBold : 'Montserrat-SemiBold';
$Montserrat-Bold : 'Montserrat-Bold';
