// http://ionicframework.com/docs/theming/
// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.
// .ion-content {
//     background: url("../../img/background.png");
// }
.button {
    text-transform: none;
}

.toolbar-background {
    background: transparent;
}

.header-md::after {
    background: none;
}

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
    border: none;
}

.header-ios .toolbar-background-ios,
.footer-ios .toolbar-background-ios {
    border: none;
}

.custom-popover .popover-content {
    width: 80% !important;
    top: 52% !important;
    height: 30%;
    left: 5px !important;
    bottom: 70px !important;
}

.ion-page>ion-content,
.content-ios,
.content-md {
    background: url('../assets/imgs/background.png') !important;
    background-size: cover !important;
}

.toolbar-ios ion-title {
    padding: 0 50px 5px;
}

.toolbar-title-md {
    padding: 0px;
    text-align: center;
}

ion-icon.back-button-icon {
    background-image: url(assets/img/rec.png) !important; // background-size: cover !important;
    // background-color: red !important;
    // width: 9px !important;
    // height: 16px !important;
}

.list-md {
    margin: 60px 0 16px 0;
}

.tabs-ios .tab-button[aria-selected=true] {
    color: color($colors, phoneAdminPinkColor, base) !important;
}

.tabs-ios .tab-button[aria-selected=true] .tab-button-icon {
    color: color($colors, phoneAdminPinkColor, base) !important;

}

.button-ios {
    font-size: 1.3rem;
}

/**** ios tab style  ****/

.tabs-ios .tabbar {
    background-color: rgb(43, 42, 45);
}

.tabs-ios .tab-button:hover:not(.disable-hover),
.tabs-ios .tab-button[aria-selected=true] {
    color: #387ef5;
}
// .ios {
//     .tab-button-text{
//         // font-size: 3.5vw !important;
//         color: blue;
//         // background: purple;
//         // word-wrap: break-word;
//         // overflow-wrap: break-word;
//         padding: 0px !important;
//         margin: 0px !important;
//         text-align: center !important;
//     }
    
// }
.ios,.md {
    .tab-button-text{
        font-size: 3vw !important;
        // color: chocolate;
        // background: purple;
        // word-wrap: break-word;
        // overflow-wrap: break-word;
        text-align: center !important;
    }
    
}
.tab-button has-title{
    background: darkorange !important;
}
.item-md p {
    color: #f1f1f1;
}

/**** android tab style  ****/

.tabs-md .tabbar {
    background-color: rgb(43, 42, 45);
    color: #ffff;
}

h2 {
    font-family: $Montserrat-Bold;
}

h3,
h4,
p,
ion-badge,
span,
button {
    font-family: $Montserrat-Medium;
}

input,
ion-navbar {
    font-family: $montserrat-light;
}

div {
    font-family: $Montserrat-Regular;
}

// ion-row,
// ion-col,
// ion-item {
//     padding: 0px !important;
//     margin: 0px !important;
// }
.tabs-md .tab-button {
    color: #f1f1f1;
}

.tabs-md .tab-button-icon {
    color: #f1f1f1;
}

span.back-button-text.back-button-text-ios,
span.back-button-text.back-button-text-md {
    display: none !important;
}

// @font-face {
//     font-family: $montserrat-light;
//     src: local('SF-Pro-Display-Light'), local('SF-Pro-Display-Light'), url("/assets/Fonts/SF-Pro-Display-Light.ttf") format('truetype');
//     font-weight: 200;
//     font-style: normal;
// }

// @font-face {
//     font-family: $Montserrat-Regular;
//     src: local('SF-Pro-Display-Regular'), local('SF-Pro-Display-Regular'), url("/assets/Fonts/SF-Pro-Display-Regular.ttf") format('truetype');
//     font-weight: normal;
//     font-style: normal;
// }

// @font-face {
//     font-family: $Montserrat-Medium;
//     src: local('SF-Pro-Display-Medium'), local('SF-Pro-Display-Medium'), url("/assets/Fonts/SF-Pro-Display-Medium.ttf") format('truetype');
//     font-weight: 500;
//     font-style: normal;
// }

// @font-face {
//     font-family: $Montserrat-SemiBold;
//     src: local('SF-Pro-Display-Semibold'), local('SF-Pro-Display-Semibold'), url("/assets/Fonts/SF-Pro-Display-Semibold.ttf") format('truetype');
//     font-weight: 600;
//     font-style: normal;
// }

// @font-face {
//     font-family: $Montserrat-Bold;
//     src: local('SF-Pro-Display-Bold'), local('SF-Pro-Display-Bold'), url("/assets/Fonts/SF-Pro-Display-Bold.ttf") format('truetype');
//     font-weight: bold;
//     font-style: normal;
// }

// @font-face {
//     font-family: $montserrat-light;
//     src: local('SF-Pro-Display-Thin'), local('SF-Pro-Display-Thin'), url("/assets/Fonts/SF-Pro-Display-Thin.ttf") format('truetype');
//     font-weight: 100;
//     font-style: normal;
// }


