<ion-menu [content]="content">
  <ion-header>


    <div style=" padding-top:15px;
        text-align: center;">

      <!-- <div id="imgwrap"> -->
        <img style="height:100px; width:100px; 
                border-radius: 50% !important;
                margin-top: 25px !important;"
          [src]=salonProfileIconPath onError="this.src='./assets/imgs/placeholder.png'"/>
      <!-- </div> -->
      <div>
        <p style="color:white; font-size:24px; top:0px; font-weight:600;">
          {{salonName}}
        </p>
      </div>
    </div>
  </ion-header>
  <ion-content>
    <ion-list *ngFor="let p of pages let lastIndex=last" no-lines style="padding: 0px;	margin:0px;">
      <ion-item menuClose (click)="openPage(p)" no-lines style=" padding-right: 0px; margin:10px; " class="notification_list">
        <img item-left style="height:20px; width:20px; " src={{p.icon}}>
        <h2> {{p.title}}</h2>
      </ion-item>

      <div *ngIf="(!lastIndex)" class="header_border_custom">
      </div>

    </ion-list>
    <!-- <ion-list> -->
        <ion-item menuClose (click)="updatelocation()" no-lines style=" padding-right: 0px; margin:10px; " class="notification_list">
            <img item-left style="height:22px; width:22px; " src={{locationSource}}>
            <h2> Update Location</h2>
          </ion-item>
    <ion-item menuClose (click)="logOut()" no-lines style=" padding-right: 0px; margin:10px; " class="notification_list">
      <img item-left style="height:20px; width:20px; " src={{logoutSource}}>
      <h2> Logout</h2>
    </ion-item>
    <!-- </ion-list> -->
  </ion-content>

</ion-menu>

<!-- Disable swipe-to-go-back because it's poor UX to combine STGB with side menus -->
<ion-nav [root]="rootPage" #content></ion-nav>