<ion-header>

  <!-- <div class="backButton"  style="padding:5px;" (click)="goBack()" >
      <ion-icon clear name="back"></ion-icon>
    </div>
  <div class="headerLabel">Privacy Policy</div> -->
  <ion-navbar class="navBar">
    <ion-title>
      Privacy Policy
    </ion-title>
  </ion-navbar>
</ion-header>


<ion-content padding>
  <div>
    <div>
      <ion-label no-padding no-margin no-lines text-wrap  [innerHtml]='privacy_policy_test'>
          <!-- {{selectedBeautyTip.bt_description}} -->
        </ion-label>
  </div>
  

  </div>
</ion-content>