page-notifications {
    .button {
        text-transform: none;
    }
    .notif-head {
        color: white;
        padding-left: 10px !important;
    }
    h2 {
        color: white !important;
        background-color: transparent !important;
        font-size: 8vw !important;
        font-family: $Montserrat-Bold; // margin-left: 12px;
        padding-left: 12px;
        margin-top: 0px !important;
    }
    // .page-heading {
    //     padding: 0px 15px;
    //     font-size: 8vw;
    //     margin-top: 0.8rem !important;
    // }
    .insideContent {
        height: 5pt; // background-color: purple;
        // position: sticky;
        margin-bottom: 10pt;
    }
    .newNoti {
        height: 9.25vw;
        width: 20vw;
        font-size: 3.96vw;
        font-family: $montserrat-light;
        background-color: transparent !important;
        float: left;
        margin-left: 35px;
        text-align: left !important;
    }
    .archivedNoti {
        height: 9.25vw;
        width: 20vw;
        // width: 60pt;
        font-size: 3.96vw;
        background-color: transparent !important;
        float: right;
        margin-right: 25pt !important;
    }
    .sliderContainer {
        height: 1.2pt;
        background-color: transparent;
        border-bottom: 0px !important;
        box-shadow: none; // background: deeppink;
        .slider {
            background-color: white;
            height: 100% !important;
            width: 50%;
            float: left;
            margin-top: 0px;
            margin-bottom: 5pt;
            margin-left: 1px;
        }
    }
    img.custPic {
        border-radius: 50%;
        width: 13.2vw;
        height: 13.2vw;
        margin-top: 7pt !important;
        margin-left: 3pt;
        float: left;
        border: 1px solid white;
    }
    ion-label.lblCustName {
        color: white !important;
        font-size: 5vw;
        font-family: $Montserrat-SemiBold;
        margin: 0px 0px 0px 0px;
        padding-left: 10px; // 
        // background: blue;
    }
    ion-label.lblSTartTime {
        color: white !important;
        background-color: transparent !important;
        // height: 20px;
        font-size: 3.96vw;
        font-family: $Montserrat-Medium;
        margin: 0px 0px 0px 0px;
        vertical-align: middle !important;
        padding-left: 10px;
        padding-top: 0px; // background: red !important; 
    }
    ion-label.lblServices {
        color: white !important;
        background-color: transparent !important;
        font-size: 3.78vw;
        font-family: $Montserrat-Medium;
    } // ion-label.lblCustName{
    // }
    .card-header-ios,
    .card-header-md {
        color: white;
        padding-left: 5%;
        text-align: left;
        height: 25pt;
    }
    .label-ios,
    .label-md {
        margin: 0px 8px 11px 0;
        font-size: 4.23vw;
        padding-left: 5px;
        padding-top: 4%;
    }
    .card-content-ios,
    .card-content-md {
        padding: 0px 5px 5px;
        font-size: 1.4rem;
        line-height: 1.4;
        height: auto;
        padding-top: 0;
    }
    .card-ios+ion-card,
    .card-md+ion-card {
        background-color: rgba(144, 144, 144, 0.27);
        padding: 1px;
        margin-top: 15px;
    }
    ion-label.noDateAvailable {
        color: white;
        background: transparent !important;
        font-size: 4.5vw;
        font-family: $Montserrat-Medium;
        height: 7.93vw;
        text-align: center !important;
        width: 100%;
        margin-left: 0%;
        margin-right: 0%;
        margin-top: 50%;
        line-height: 70% !important; // background-color: red !important;;
    }
    .btnAccept {
        height: 7.93vw;
        width: 100%;
        color: rgb(232, 229, 229);
        background-color: color($colors, acceptColor, base);
        text-transform: none;
        font-size: 3.43vw;
        font-family: $Montserrat-Medium;
    }
    .btnReject {
        height: 7.93vw;
        width: 100%;
        color: rgb(232, 229, 229);
        background-color: color($colors, rejectColor, base);
        font-size: 3.43vw;
        font-family: $Montserrat-Medium;
    }
    .btnReschedule {
        padding: 0px 5px;
        margin: 2px auto;
        height: 7.93vw;
        width: 100%;
        color: rgb(232, 229, 229);
        background-color: color($colors, resecheduleColor, base);
        font-size: 3.43vw;
        font-size: 4.7vw;
        font-family: $Montserrat-Medium;
    }
   
    .bottomViewCard {
        margin: 0px !important;
        background-color: rgba(144, 144, 144, 0.27);
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
        min-height: 12vw;
        // height: 51px;
        // color: gold;
    }
    .mainCard {
        background-color: rgba(144, 144, 144, 0.27);
        padding-left: 5px 5px 0px 0px;
        margin: 0px 0px 0px 0px;
        width: 100%;
        // background: deeppink;
        position: relative;
    } 
    .mainCard button.btnClose {
        top: 0px;
        right: 0px;
        width: 30px;
        height: 7.93vw;
        background: transparent !important; // position: fixed;
    }
    .mainCard div.cust_appointment_date {
        width: 78%;
        float: left;
    }
    .mainCard div.user_img {
        width: 22%;
        float: left;
    }
    .btnClose.disable-hover.button.button-ios.button-default.button-default-ios {
        background-color: transparent;
        float: right;
    }
    button.btnClose.disable-hover.button.button-md.button-default.button-default-md {
        float: right;
        background-color: transparent;
        box-shadow: none;
    }
    .callButton {
        background-color: transparent !important;
        margin-top: 0px !important; // width: 122pt;
        margin-left: 0px;
        padding-left: 0pt;
        height: 41px !important;
        width: 130%;
        float: left; // font-family:  Times, Times New Roman, serif
        font-size: 4.4vw;
        font-family: $Montserrat-Bold; // background: #800080 !important;
        // letter-spacing: 0.2px;
    }
    ion-label.custNameInCall {
        background: transparent !important;
        font-size: 3.3vw !important;
        font-family: $Montserrat-Bold;
        overflow: scroll !important;
        float: left !important;
        height: 20.5px;
        line-height: 5px;
        text-align: left !important;
        margin-right: 0px !important;
    }
    ion-label.techName {
        background: transparent !important;
        font-size: 3.3vw !important;
        font-family: $Montserrat-Bold;
        overflow: scroll !important;
        float: right !important;
        // background: gold !important;
        // margin: 10px 0px 0px 0px;
        position: relative;
        top: 50%;
        transform: translateY(-50%);
        width: 71%;
    }
    img.imgTechInCardNotification {
        width: 8.73vw !important;
        height: 8.73vw !important;
        border-radius: 50%;
        position: absolute;
        top: 9px;
        left: 9px;
    } 
    .list {
        margin-bottom: 0;
    }
    .custom_button {
        background: rgb(255, 95, 109);
        margin: 5%;
        color: white;
        margin-right: 10%;
    }
    .inputStyle {
        margin-left: 10%;
        margin-right: 10%;
    }
    .ionContent {
        background-color: #F5F5F5;
        width: 100%;
        height: 100%;
    }
    .label {
        margin: 0;
    } 
    // } // STYLING FOR ANDROID
    .button-md.activated,
    .button-ios.activated {
        background-color: transparent !important;
    }
    .button-md,
    .button-ios {
        box-shadow: none;
    }
    .colCallCustomer {
        background: transparent !important; // max-width: 50%;
    }
    .colTechInfo {
        background: transparent !important;

        .phone-icn {
            padding: 0px 0px 0px 0px;
            // width: 32px !important;
            // height: 32px !important;
            margin: 24px 3px 9px 4px; // background: green;

            width: 8.73vw !important;
            height: 8.73vw !important;
            // border-radius: 50%;
            // position: absolute;
            // top: 9px;
            // left: 9px;
        }
    }
    .PhoneContainer {
      
        .phone-icn {
            padding: 0px 0px 0px 0px;
            
            margin: 24px 3px 9px 4px; // background: green;

            width: 8.73vw !important;
            height: 8.73vw !important;
           
        }
        .phone-btn {
            background: none;
            width: 25pt;
            padding: 5px;
            color: #ffff;
            margin-top: -5px;
            height: 25pt;
            border: 1px solid;
            border-radius: 50%;
        }
        .cal-phone-icn {
            font-size: 3.1rem;
            width: 8.73vw !important;
            height: 8.73vw !important;
          
        }
        .phone-icn {
            font-size: 2.3rem;
            width: 8.73vw !important;
            height: 8.73vw !important;
           
        }
    }
}
